
dataset/english.pkl
dataset/english_vocab.pkl
dataset/europarl-v7.fr-en.en
dataset/europarl-v7.fr-en.fr
dataset/fr-en.tgz
dataset/french.pkl
dataset/french_vocab.pkl
dataset/english_prepared.pkl
dataset/french_prepared.pkl
dataset/english_num.pkl
dataset/french_num.pkl
translation_model.pt
